.Inventory {
  margin-top: 80px;
}

.EditInventoryItemSection {
  margin-bottom: 200px;
  margin-top: 80px;
}

.EditInventoryItemSection .itemImageSection {
  background-color: #292a2c;
  position: relative;
}

.EditInventoryItemSection img {
  display: block;
  height: 240px;
  margin: auto;
}

.EditInventoryItemSection .addItemImageIcon {
  background-color: #03DAC5;
  position: absolute;
  bottom: -8%;
  right: 4%;
  z-index: 1000;
}

.EditInventoryItemSection .addItemImageIcon:hover {
  background-color: #2beeda;
}
.EditInventoryItemSection .itemFieldsSection {
  width: 95%;
  margin: 30px auto 80px;
}

.EditInventoryItemSection .itemFieldsSection .formInput {
  margin-bottom: 20px;
}

.EditInventoryItemSection .reviewInfo {
  width: 90%;
  padding: 6px;
  margin: auto;
}

.EditInventoryItem .footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  top: auto;
}

.EditInventoryItem .footerButton {
  margin: auto;
}